# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Data
*.csv
*.parquet
*.db

# Logs
logs/*.log
*.log

# OS
.DS_Store